/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Amatic+SC&display=swap');

/* Universal box-sizing */
*, ::after, ::before {
  box-sizing: border-box;
}

/* Media query for small screens */
@media (max-width: 576px) {
  .container {
    text-align: center;
  }

  #photo {
    clip-path: ellipse(50% 40% at 50% 50%);
    max-width: 80%;
    margin: 0 auto;
    height: 40%;
    border-radius: 20px;
  }
}

#photo {
  border-radius: 10px;
  clip-path: ellipse(50% 40% at 50% 50%);
}

/* Dark mode styles */
.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.dark-mode .project-description h3,
.dark-mode .project-description p {
  color: #ffffff;
}

.dark-mode .list-inline-item a {
  color: #000000;
}

/* Custom styles */
.language-icon {
  padding: 5px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.button a {
  color: black;
}

.project-card {
  text-align: center;
  position: relative;
}

.project-image {
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.project-image-large {
  align-items: stretch;
}

.project-description {
  margin-bottom: 10px;
  text-align: center;
}

.project-description p {
  color: rgb(12, 12, 12);
  font-weight: bold;
  font-size: medium;
}

.project-description h3 {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.project-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

.project-card:hover .project-content {
  opacity: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons a {
  margin: 5px;
}

.swiper {
  height: auto;
  width: auto;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.swiper-button-next {
  right: 10px;
  color: black !important;
}

.swiper-button-prev {
  left: 10px;
  color: black !important;
}

.custom-font {
  font-family: 'Lilita One', Impact, bold;
}

#about-me {
  border-radius: 5px;
}

#footer a {
  color: black;
}

#software-text {
  font-family: 'Amatic SC';
}

#story {
  font-family: 'Lilita One', Impact, bold;
}
